* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #162311;
  --cardBrackground: #183f2a;
  --cardShadow: 0 0 10px rgba(190, 195, 190, 0.614);
  --disabledButtonBackground: #dfdede;
  --buttonBackground: #917004;
  --titleColor: #c4d319;
  --tagBackground: #cbc20a;
  --tagColor: #3f2b00;
  --textColor: #c6cb8c;
  --genreBackground: #5f4001;
}

#root {
  align-items: center;
  background-color: var(--background);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  padding-bottom: 3%;
}

a {
  color: #917004;
  text-decoration: none;
}

a:visited {
  color: #917004;
  text-decoration: none;
}