.edit-movies-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.edit-movie-input {
  border-radius: 8px;
  font-size: large;
  line-height: 2.6rem;
  margin-bottom: 10px;
  padding: 0 10px;
  width: 90%;
}

.edit-button {
  background-color: var(--buttonBackground);
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-size: larger;
  height: 40px;
  margin-top: 2%;
  width: 100%;
}

.edit-button:disabled {
  background-color: var(--disabledButtonBackground);
  border: 3px solid #11c304c0;
  cursor: not-allowed;
}
