.movie-container {
  height: 340px;
  margin: 10px;
  width: 240px;
}

.movie-cover {
  box-shadow: var(--cardShadow);
  border-radius: 5px;
  height: 340px;
  object-fit: cover;
  width: 240px;
}

.tags {
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 20%;
}

.movie-title {
  background-color: var(--background);
  border-radius: 8px;
  box-shadow: var(--cardShadow);
  color: var(--titleColor);
  font-size: large;
  padding: 6px;
  position: relative;
  text-align: center;
  left: 3%;
  bottom: 30%;
  width: 90%;
}

.rating {
  background-color: var(--tagBackground);
  border-radius: 8px;
  bottom: 25%;
  box-shadow: var(--cardShadow);
  color: var(--tagColor);
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 8px;
  padding: 6px;
  position: relative;
  text-align: center;
  max-width: 20%;
}
