.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

.title {
  color: var(--titleColor);
  font-size: 2rem;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
